################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/PackerMaker2/v15
/PackerMaker2/Debug
/PackerMaker2/Release
/PhotoShop/FrameMainNew.psd
